@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
--clr-orange: hsl(25, 97%, 53%);

--clr-white: hsl(0, 0%, 100%);
--clr-light-grey: hsl(217, 12%, 63%);
--clr-medium-grey: hsl(216, 12%, 54%);
--clr-dark-blue: hsl(213, 19%, 18%);
--clr-very-dark-blue: hsl(216, 12%, 8%);
--clr-gradient: linear-gradient(to bottom, hsl(215, 20%, 17%), hsl(215, 24%, 12%));

--fw-bold: 700;
--fw-regular: 400;

}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin:0;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  body {
    font-family: 'Overpass', sans-serif;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
    font-size: clamp(14px, 3vw, 15px);
    background-color: var(--clr-very-dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  /*
    5. Improve media defaults
  */
  img {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1 {
    overflow-wrap: break-word;
  }
  
  h1 {
    line-height: 1.25;
    color: var(--clr-white);
    font-size: clamp(24px, 5vw, 28px);
    margin-bottom: 0.4375rem;
  }

  p {
    color: var(--clr-light-grey);
  }

  main {
    background-image: var(--clr-gradient);
    max-width: 412px;
    width: calc(100% - 2.5rem);
    border-radius: 1.875rem;
    padding: clamp(1.5rem, 5vw, 2rem);
  }

  .logo {
    background-color: var(--clr-dark-blue);
    width: 3rem;
    height: 3rem;
    border: .2rem solid var(--clr-dark-blue);
    border-radius: 50%;
    padding: 0.9rem;
    margin-bottom: 1.875rem;
  }

  .button {
    background-color: var(--clr-orange);
    border: none;
    color: var(--clr-white);
    font-weight: var(--fw-bold);
    letter-spacing: 2px;
    text-transform: uppercase;
    height: 45px;
    border-radius: 1.5rem;
    width: 100%;
    cursor: pointer;
    appearance: none;
    transition: background-color .15s linear, color .15s linear;

  }

  .button:is(:hover, :focus-visible) {
    color: var(--clr-orange);
    background: var(--clr-white);
    outline: none;
  }

  .rating-group {
    display: flex;
    justify-content: space-between;
    margin-block: 24px 32px;
  } 

  .input-radio .control {
    --size: clamp(2.625rem, 13vw, 3.1875rem);


    display: block;
    color: var(--clr-light-grey);
    background-color: var(--clr-dark-blue);
    height: var(--size);
    width: var(--size);
    border-radius: 50%; 
    line-height: var(--size);
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: var(--fw-bold);
  }

  .input-radio input:checked + .control {
    background-color: var(--clr-light-grey);
    color: var(--clr-white);
  }
  
  .input-radio:hover .control,
  .input-radio input:focus + .control {
    background-color: var(--clr-orange);
    color: var(--clr-white);
  }

  .text-center {
    text-align: center;
  }

  .rating-result {
    background-color: var(--clr-dark-blue);
    color: var(--clr-orange);
    height: 2rem;
    border-radius: 2rem;
    line-height: 2rem;
    width: max-content;
    margin-inline: auto;
    padding-inline: 1.25rem;
    margin-block: 2rem;
  }

  .illustration {
    margin-inline: auto;
  }

  